
#menu__toggle {
  opacity: 0;  /* скрывает чекбокс делая его прозрачным */
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn {  /* стиль кнопки */
  display: flex;
  align-items: center;  /* расположение содержимого по центру */
  position: fixed;
  top: 20px;  /* расстояние сверху */
  left: 20px;  /* расстояние слева */
  width: 30px;  /* размер кнопки */
  height: 30px;
  cursor: pointer;  /* отображение курсора */
  z-index: 1;
}
@media screen and (max-width: 640px) {
  .menu__box {  /* контейнер меню */
  display: block;
  position: fixed;
  visibility: hidden;  /* меню по умолчанию скрыто */
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;  /* поля сверху, снизу и слева, справа */
  list-style: none;
  background-color: steelblue;  /* фон меню */
  transition-duration: .25s;
  }
  .menu__btn > span,  /* "гамбургер" */
  .menu__btn > span::before,
  .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  transition-duration: .25s;
  }
  .menu__btn > span::before {
  content: '';
  top: -8px;
  }
  .menu__btn > span::after {
  content: '';
  top: 8px;
  }
}

.menu__item {  /* элементы в меню */
  display: block;
  padding: 12px 24px;
  color: black;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: royalblue;
}